@use "../../constants" as *;

.cell {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    height: 100%;
    width: 100%;

    border-radius: .25rem;

    cursor: pointer;

    z-index: 0;

    &.active {
        color: $white;

        &:after {
            background-color: var(--primary-color, $gray-800);
        }

        &.from:before {
            left: 50%;
            right: 0;
        }

        &.to:before {
            left: 0;
            right: 50%;
        }
    }

    &:not(.active) {
        &.now {
            border: 1px solid var(--border-color, $gray-300);
        }

        &.not-current-period {
            color: var(--secondary-color, $gray-400);
        }

        &.selected {
            background-color: var(--range-color, $gray-200);
        }

        &:hover:after {
            background-color: var(--hover-color, $gray-100);
        }
    }

    &:after {
        position: absolute;

        inset: 0;
        border-radius: .25rem;

        z-index: -1;

        content: "";
    }

    &:before {
        position: absolute;

        top: 0;
        bottom: 0;

        background-color: var(--range-color, $gray-200);

        z-index: -1;

        content: "";
    }
}

