@use "../../constants" as *;

.weekdays {
    display: grid;

    grid-template-columns: repeat(7, 1fr);

    margin-bottom: .5rem;

    font-size: .75rem;
    color: var(--secondary-color, $gray-400);

    .weekday {
        display: flex;
        justify-content: center;

    }
}

.days {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: $cell-size;

    .not-current-month:not(.active) {
        color: var(--secondary-color, $gray-400);
    }
}
