<div class="weekdays">
    <span *ngFor="let weekday of weekdays"
         class="weekday">
        {{weekday | uppercase}}
    </span>
</div>
<div class="items days">
    <div *ngFor="let day of days$ | async"
         class="item"
         [ngClass]="{
            'is-today': day.isToday,
            'not-current-month': !day.isCurrentMonth,
            'active': isSelected(day.value)
         }"
         (click)="calendar.handleSelection(day.value)">
        {{ day.displayValue }}
    </div>
</div>
